<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.resources.ProjectMapper">
  
  	<select id="login" parameterType ="java.util.Map" resultType="java.util.Map">
  		select user_name,user_id
  		from user
  		where user_id=#{id} and user_password=#{pwd}
  	</select>
  
  
  	<insert id="join" parameterType="UserDTO">
  		insert into user(user_id, user_name, user_password, 
  		user_email, user_birth, user_admin, user_phone, user_joindate, user_address)
  		values (#{user_id}, #{user_name}, #{user_password},
  		 #{user_email}, #{user_birth},0,#{user_phone}, curdate(), #{user_address})
  	</insert>
  
  
  
  </mapper>
  